{% extends 'baseAdmin.html.twig' %}

{% block title %}Requirement index{% endblock %}

{% block body %}
<section class="youplay-banner banner-top youplay-banner-parallax small">
    <div class="image" data-speed="0.4">
        <img src="{{ asset('images/dark/banner-blog-bg.jpg') }}" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <h1 class="h1">List Requirements</h1>
            </div>
        </div>
    </div>
</section>
<div class="container youplay-content">
    <table class="table table-striped">
         <thead>
            <tr>
                <th>Id</th>
                <th>Os</th>
                <th>Processor</th>
                <th>Memory</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for requirement in requirements %}
            <tr>
                <td>{{ requirement.id }}</td>
                <td>{{ requirement.os }}</td>
                <td>{{ requirement.processor }}</td>
                <td>{{ requirement.memory }}</td>
                <td>
                    <a href="{{ path('app_requirement_show', {'id': requirement.id}) }}" class="btn btn-xs">show</a>
                    <a href="{{ path('app_requirement_edit', {'id': requirement.id}) }}" class="btn btn-xs">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<a href="{{ path('app_requirement_new') }}" class="btn btn-lg pull-right">Create new</a>
{% endblock %}
