{% extends 'baseAdmin.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
<section class="youplay-banner banner-top youplay-banner-parallax small">
    <div class="image" data-speed="0.4">
        <img src="{{ asset('images/dark/banner-blog-bg.jpg') }}" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <h1 class="h1">Tag</h1>
            </div>
        </div>
    </div>
</section>
<div class="container youplay-content">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tag.nom }}</td>
            </tr>
        </tbody>
    </table>
</div>


    <a href="{{ path('app_tag_index') }}" class="btn btn-lg pull-left">back to list</a>

    <a href="{{ path('app_tag_edit', {'id': tag.id}) }}" class="btn btn-lg pull-right">edit</a>

    {{ include('admin/tag/_delete_form.html.twig') }}
{% endblock %}
